body {
    background-color: #0b0c10;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e4dddd;
}

#wrapper {
    margin: 1em 0.5em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        'head'
        'bio'
        'about'
        'projects';
    
}

.border {
    margin: 0.2em;
    position: relative;
    background: linear-gradient(45deg, #66fcf1, #1f2833, #1f2833);
    padding: 0.01em;
    box-shadow: 3px 5px 4px #030305;
    border-radius: 8px;
}

/* #for-bio {
    width: fit-content;
    justify-self: right;
} */

.border>* {
    margin: 0.2em;
    padding: 1em;
    justify-self: center;
    background-color: #1f2833;
    border-radius: 5px;
}

#header {
    grid-area: head;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: start;
}

#bio {
    grid-area: bio;
    text-align: right;
}

#about {
    grid-area: about;
}

#projects {
    grid-area: projects;
}

#project-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}


/* Text */
h2 {
    font-family: 'Kanit', sans-serif;
    margin: 0.3em;
    background: -webkit-linear-gradient(#45a29e, #66fcf1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #c5c6c7;
}


/* Images */
.icons {
    padding-right: 2em;
}

#idphoto {
    float: left;
    margin-right: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #3D5467;
}

.placeholder {
    width: 200px;
}